<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Graph2Prov</servlet-name>
        <servlet-class>de.tud.uw.geo.gi.colabis.workflow.Graph2Prov</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Graph2XML</servlet-name>
        <servlet-class>de.tud.uw.geo.gi.colabis.workflow.Graph2XML</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Graph2Prov</servlet-name>
        <url-pattern>/savePROV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Graph2XML</servlet-name>
        <url-pattern>/saveXML</url-pattern>
    </servlet-mapping>
</web-app>